<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="c#80cbc4 teal lighten-3">
      <h1>Welcome To SEI Grocery List</h1>
      <h4>Buy groceries, stop eating out</h4>
    </div>

    <a class="waves-effect waves-light btn-large" a href="/grocery"
      >Click here to get started</a
    >
    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
  </body>
</html>
